/* Colors root */
:root {
  --primary-color: #4d5ae5;
  --pressed-color: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --light-color: #f4f4fd;
  --white-color: #ffffff;
}

/* #region Base */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}
/* #endregion */

/* LOGO */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  text-decoration: none;
}

.logo-studio-header {
  color: var(--dark-color);
}

.logo-studio-footer {
  color: var(--light-color);
}

/* NAVIGATION */
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-color);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-color);
}

.header-contacts-link {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  text-decoration: none;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--pressed-color);
}

/* HERO SECTION */
.hero-section {
  background-color: var(--dark-color);
  text-align: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  color: var(--white-color);
}

/* HERO BUTTON */
.hero-button {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-color);
}

/* FEATURES SECTION */
.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
}

/* TEAM SECTION */
.team-section {
  background-color: var(--light-color);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
}

.team-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
}

.team-type {
  font-size: 16px;
  line-height: 1.5;
}

/* PORTFOLIO SECTION */
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
}

.portfolio-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-color);
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.5;
}

/* FOOTER */
.footer-page {
  background-color: var(--dark-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-color);
}
